<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Granikos.ResizeImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Granikos.ResizeImage.Properties.Settings>
      <setting name="OutputSize" serializeAs="String">
        <value>648, 648</value>
      </setting>
      <setting name="DefaultImageTypes" serializeAs="String">
        <value>jpg,jpeg,bmp,png,gif</value>
      </setting>
      <setting name="JpegQuality" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TopMargin" serializeAs="String">
        <value>0</value>
      </setting>
    </Granikos.ResizeImage.Properties.Settings>
  </applicationSettings>
</configuration>